@model MVC.Models.OrderDto?

<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Order Details</h2>
    
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Login</dt>
        <dd class="col-sm-10">@Model.Login</dd>

        <dt class="col-sm-2">Total Sum</dt>
        <dd class="col-sm-10">@Model.TotalSum</dd>

        <dt class="col-sm-2">Date of Order</dt>
        <dd class="col-sm-10">@Model.DateOfOrder.ToShortDateString()</dd>
    </dl>

    <h3>Shopping Carts</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var shoppingCart in Model.ShoppingCarts)
        {
            <tr>
                <td>@shoppingCart.Id</td>
                <td>@shoppingCart.ProductId</td>
                <td>@shoppingCart.Product.Name</td>
                <td>@shoppingCart.Product.Price</td>
            </tr>
        }
        </tbody>
    </table>

    <a asp-action="OrderIndex" class="btn btn-primary">Back to List</a>
</div>

</body>
</html>
